.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-image {
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    object-fit: contain;
}

.icon-emoji {
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}